In [35]:
import pandas as pd
df = pd.read_csv("data/entwicklung_heizenergie_bundeslaender.csv")

df = df.transpose()

#first row as header
new_header = df.iloc[0].astype(int)
new_header = 'year_' + new_header.astype(str)
df = df[1:]
df.columns = new_header

df.reset_index(inplace=True)
df.rename(columns = {"index":"Bundesland"},inplace=True)
df['Bundesland'].replace("Mecklenburg Vorpommern", 'Mecklenburg-Vorpommern',inplace= True)

#df.to_csv("data/entwicklung_heizenergie_bundeslaender_output.csv")

melt = pd.melt(df,id_vars=["Bundesland"])
melt['Jahr'] = melt["Jahr"].str.replace("year_", '')

melt.to_csv("data/entwicklung_heizenergie_bundeslaender_melt.csv")
melt
df

Jahr,Bundesland,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020
0,Deutschland,150.84,147.75,144.36,141.83,138.50,137.12,133.07,130.25,120.29,131.91,126.31,120.58,128.40,124.33,122.86,121.85,126.64,124.51,128.34
1,Baden-Württemberg,149.45,142.22,142.87,138.66,134.60,135.45,129.77,128.68,117.88,129.67,123.18,117.01,127.35,123.57,120.85,118.41,126.25,121.60,126.83
2,Bayern,145.76,142.64,139.65,134.47,129.84,130.52,126.67,124.48,114.63,125.30,120.67,115.00,122.46,120.84,117.92,115.94,124.46,119.96,122.61
3,Berlin,152.23,152.86,142.21,140.50,140.33,134.83,134.76,134.46,124.98,140.03,133.01,128.47,126.99,125.51,120.40,122.48,123.52,124.52,125.42
4,Brandenburg,145.56,142.85,141.79,139.46,136.20,133.83,134.30,129.37,123.18,135.34,128.12,125.71,130.97,122.45,124.81,124.41,128.60,127.88,144.32
5,Bremen,154.03,158.62,143.47,142.46,147.58,142.61,136.08,129.94,123.98,130.84,125.87,125.52,138.66,126.98,125.40,127.31,127.90,125.78,124.85
6,Hamburg,171.08,172.84,167.16,166.80,160.50,154.84,147.19,146.12,134.56,149.35,144.41,137.16,144.55,141.68,133.57,132.67,138.91,138.14,141.22
7,Hessen,154.04,150.37,148.17,146.22,143.02,141.59,136.65,133.59,121.92,133.70,128.33,123.13,129.51,128.05,126.16,122.36,127.95,124.72,128.03
8,Mecklenburg-Vorpommern,152.01,139.60,135.89,134.72,135.09,136.70,135.88,126.27,119.29,129.63,121.10,121.71,122.75,125.13,122.50,122.89,126.02,130.94,125.07
9,Nordrhein-Westfalen,154.65,154.18,148.50,148.56,143.87,141.19,135.65,133.63,124.28,135.54,130.28,121.87,130.11,123.72,123.79,124.33,126.78,125.72,130.29
10,Rheinland-Pfalz,146.97,148.05,141.18,141.17,138.48,136.65,132.24,130.44,119.12,132.43,124.90,117.64,128.87,122.35,121.66,121.75,126.72,123.13,129.72
11,Saarland,158.81,156.72,149.17,149.64,148.60,146.20,139.44,138.14,127.84,141.44,133.30,124.19,139.91,128.96,126.58,129.00,137.71,135.62,142.87
12,Sachsen-Anhalt,142.97,143.14,143.53,140.52,139.07,140.56,136.04,131.26,123.09,134.09,130.65,125.44,134.36,128.91,125.76,123.39,126.91,128.01,131.93
13,Sachsen,141.72,138.53,136.60,135.55,132.34,129.59,130.90,125.60,115.61,128.50,122.55,119.00,126.10,122.48,122.91,119.80,125.93,123.83,122.10
14,Schleswig-Holstein,165.51,156.88,149.41,147.44,145.95,141.06,136.96,132.27,124.63,135.78,129.10,125.67,132.16,127.02,126.54,125.30,127.29,126.00,129.76
15,Thüringen,136.75,140.35,137.10,131.87,131.82,133.44,133.23,123.80,114.18,126.02,121.79,117.01,123.27,122.79,119.16,121.96,124.80,124.69,124.52
16,Niedersachsen,155.90,151.88,149.14,146.14,143.25,139.79,135.56,133.80,122.35,133.97,129.20,123.67,130.47,126.19,125.74,125.82,126.65,126.71,130.12

In [36]:
melt

             Bundesland  Jahr   value
0           Deutschland  2002  150.84
1     Baden-Württemberg  2002  149.45
2                Bayern  2002  145.76
3                Berlin  2002  152.23
4           Brandenburg  2002  145.56
..                  ...   ...     ...
318      Sachsen-Anhalt  2020  131.93
319             Sachsen  2020  122.10
320  Schleswig-Holstein  2020  129.76
321           Thüringen  2020  124.52
322       Niedersachsen  2020  130.12

[323 rows x 3 columns]

In [45]:
bundeslaender = melt.Bundesland.unique();
bundeslaender = [x.lower() for x in bundeslaender]
bundeslaender = ["bundesweit" if x=="deutschland" else x for x in bundeslaender]
bundeslaender = [x.replace('ü' , 'ue') for x in bundeslaender]

paths = ["data/co2online/gebaeudedaten-heizenergieverbrauch_gebaeudetyp_verteilung-" + land + ".csv" for land in bundeslaender]
paths

all_df = []
for path in paths:
    temp = pd.read_csv(path,delimiter=";")
    #format path back to the Bundesland
    temp["ort"] = path.rsplit('verteilung-', 1)[1][:-4].title()

    #to numeric
    temp["Ein- oder Zweifamilienhaus"] = pd.to_numeric(temp["Ein- oder Zweifamilienhaus"].str.replace(',','.'))
    temp["Mehrfamilienhaus"] = pd.to_numeric(temp["Mehrfamilienhaus"].str.replace(',','.'))

    #calculate average
    temp["Durchschnitt Mehrfamilienhaus"] = (temp["kWh pro m² und Jahr"] * temp["Mehrfamilienhaus"]).sum() / 100
    temp["Durchschnitt Ein/Zweifamilienhaus"] = (temp["kWh pro m² und Jahr"] * temp["Ein- oder Zweifamilienhaus"]).sum() / 100

    all_df.append(temp)

df2 = pd.concat(all_df)


#df.to_csv("data/heizenergie_gebaudetyp_bundesland_long.csv")
df2

melt2 = pd.melt(df2,id_vars=["ort","kWh pro m² und Jahr","Durchschnitt Mehrfamilienhaus","Durchschnitt Ein/Zweifamilienhaus"])
melt2.to_csv("data/heizenergie_gebaudetyp_bundesland_long.csv")
melt2

,ort,kWh pro m² und Jahr,Durchschnitt Mehrfamilienhaus,Durchschnitt Ein/Zweifamilienhaus,variable,value
0,Bundesweit,20,124.116,137.476,Ein- oder Zweifamilienhaus,2.50
1,Bundesweit,30,124.116,137.476,Ein- oder Zweifamilienhaus,2.03
2,Bundesweit,40,124.116,137.476,Ein- oder Zweifamilienhaus,2.05
3,Bundesweit,50,124.116,137.476,Ein- oder Zweifamilienhaus,2.27
4,Bundesweit,60,124.116,137.476,Ein- oder Zweifamilienhaus,2.97
...,...,...,...,...,...,...
1181,Niedersachsen,310,127.151,140.011,Mehrfamilienhaus,0.36
1182,Niedersachsen,320,127.151,140.011,Mehrfamilienhaus,0.12
1183,Niedersachsen,330,127.151,140.011,Mehrfamilienhaus,0.14
1184,Niedersachsen,340,127.151,140.011,Mehrfamilienhaus,0.12
1185,Niedersachsen,350,127.151,140.011,Mehrfamilienhaus,0.11