In [2]:
import pandas as pd

df = pd.read_csv("data/lak_primary_energy.csv")
#df.fillna(0,inplace=True)
print(df.columns)
df.drop(columns=["Anteil Erneuerbarer Energieträger an der Strom erzeugung","Anteil Erneuerbarer Energieträger am Brutto stromver brauch"],inplace=True)
df.rename({'Anteil Erneuerbarer Energieträger am Primär energie verbrauch':"share_renewables_primary_energy_consumption"},axis=1,inplace=True)

df.to_csv("data/lak_primary_energy_longformat.csv")
df

pivot = df.pivot(index="Land",columns="Jahr",values="share_renewables_primary_energy_consumption").reset_index(level=0)
pivot.to_csv("data/lak_primary_energy_wideformat.csv")
pivot

Index(['Land', 'Jahr', 'Anm',
       'Anteil Erneuerbarer Energieträger am Primär energie verbrauch',
       'Anteil Erneuerbarer Energieträger an der Strom erzeugung',
       'Anteil Erneuerbarer Energieträger am Brutto stromver brauch', 'Stand'],
      dtype='object')

Jahr,Land,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Baden-Württemberg,1.973384,1.885030,1.912214,1.954550,2.119428,2.022867,1.862252,2.129294,2.049883,...,10.404060,12.100216,11.841142,12.382507,12.307096,12.633716,13.007524,13.914227,14.170586,NaN
1,Bayern,3.436758,3.030966,3.394515,3.451447,3.639240,5.533574,5.242610,5.303970,5.389134,...,14.155231,15.469614,15.936164,16.290496,17.078344,17.877657,18.475024,19.694352,20.126032,NaN
2,Berlin,0.632047,0.689024,0.743422,0.592116,0.622695,0.541705,0.482504,0.400764,0.604274,...,3.409491,3.766699,3.920761,4.134106,4.226569,4.123678,4.276234,5.226370,5.597884,6.109197
3,Brandenburg,0.110403,0.337857,0.426805,0.461269,1.374056,1.492600,0.485754,0.584719,1.232190,...,15.321537,15.248247,15.131556,15.816972,16.434232,16.298550,17.651191,17.463145,20.836697,NaN
4,Bremen,1.510185,1.578326,1.530833,1.739043,1.386472,1.701538,1.596159,1.612561,1.716235,...,5.277541,5.561992,6.232616,7.369313,6.831005,6.546133,6.436883,6.508580,6.564200,NaN
5,Hamburg,0.817215,0.781431,0.797269,0.772181,0.791764,0.981035,0.931171,1.023653,NaN,...,4.575965,4.747051,4.331191,4.828493,4.542901,4.068457,4.139770,4.708825,4.941222,4.938644
6,Hessen,0.896479,0.920948,0.909532,0.886219,0.918519,0.964406,0.743264,0.795818,0.799858,...,7.827199,8.346747,8.607056,8.729367,9.197449,9.384863,9.864455,11.062002,11.013179,NaN
7,Mecklenburg-Vorpommern,0.644047,0.511536,0.291216,0.836169,1.021946,1.488904,1.526277,1.317178,1.806489,...,28.539141,31.897563,33.248548,36.968329,40.256810,39.431939,38.404667,41.470171,NaN,NaN
8,Niedersachsen,0.838594,0.729412,NaN,NaN,0.686758,NaN,0.426513,NaN,1.260196,...,13.036367,15.331814,15.204557,15.433274,17.342187,17.743884,19.267226,20.705275,22.507307,NaN
9,Nordrhein-Westfalen,0.420567,0.417048,0.427653,0.433351,0.488692,0.498464,0.523073,0.617262,0.673151,...,3.819742,4.269227,4.262582,4.149478,4.511430,4.829857,5.101613,5.384077,5.823425,NaN
10,Rheinland-Pfalz,0.875238,0.867825,0.836698,0.751761,1.154053,0.895245,1.125692,1.218251,1.586130,...,9.561831,10.779220,11.237125,11.632507,12.403369,12.486815,12.718415,13.249353,13.713921,NaN
11,Saarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.190064,2.994970,3.204869,3.940690,4.069594,NaN,NaN,NaN,NaN,NaN
12,Sachsen,0.119966,0.261847,0.264836,0.147958,0.242725,0.313859,0.304315,0.372686,0.559485,...,7.840035,8.016728,8.356178,8.516027,9.376590,9.079134,9.074051,9.026551,9.977345,NaN
13,Sachsen-Anhalt,0.102776,0.069710,0.167639,0.100719,0.118365,0.123676,0.165682,0.324780,0.378686,...,16.439914,16.913515,18.100293,19.365063,NaN,NaN,21.586912,19.124589,NaN,NaN
14,Schleswig-Holstein,0.313722,0.310962,0.303540,0.503526,0.687912,0.861675,0.905124,1.063595,1.554903,...,14.556258,16.349384,16.140012,17.878464,22.854928,24.370951,29.861533,28.393724,29.609081,29.511610
15,Thüringen,0.596689,0.601963,0.875582,0.606604,0.971146,1.062317,1.067734,1.562087,1.829861,...,21.467574,21.677760,23.082897,23.116544,24.079637,24.525170,26.349028,23.637231,23.435769,NaN

In [ ]:
df

In [88]:
df2 = pd.read_csv("data/lak_primary_renewables.csv",delimiter=";",encoding='latin1')

df2.Land.replace({"Baden-Wï¿½rttemberg":"Baden-Württemberg",'Thï¿½ringen':"Thüringen"},inplace=True)
df2.rename({"Klï¿½rgas, Deponiegas":"Klärgas, Deponiegas"},axis=1,inplace=True)

df2.drop(columns=["Anm","Stand"],inplace=True)

#merge with non-renewable forms
df_total = pd.read_csv("data/lak_primary_total.csv",delimiter=";",encoding='latin1')

df_total.Land.replace({"Baden-Wï¿½rttemberg":"Baden-Württemberg",'Thï¿½ringen':"Thüringen"},inplace=True)
df_total.rename({"Mineralï¿½le und Mineralï¿½l produkte":"Mineralöle und Mineralöl produkte",
"Erneuerbare Energietrï¿½ger":"Gesamt Erneuerbare Energieträger","Andere Energietrï¿½ger":"Andere Energieträger"},axis=1,inplace=True)

df_total.drop(columns=["Anm","Stand"],inplace=True)

df3 = pd.merge(df_total,df2,on=["Jahr","Land"],how="outer")
df3

#calculate values for renewables energies
print(df3['Gesamt Erneuerbare Energieträger'].equals(df3['Insgesamt_y']))

df3["Gesamt Nichterneuerbar"] = df3["Insgesamt_x"]-df3["Gesamt Erneuerbare Energieträger"]
df3["Anteil Erneuerbar"] = df3["Gesamt Erneuerbare Energieträger"] / df3["Insgesamt_x"] * 100

df3.drop(columns=['Insgesamt_y'],inplace=True)
df3

#all energies
print(df3.columns)
energies = ['Steinkohle', 'Braunkohle',
       'Mineralöle und Mineralöl produkte', 'Gase',
       'Gesamt Erneuerbare Energieträger', 'Stromaustauschsaldo',
       'Kernenergie', 'Andere Energieträger', 'Klärgas, Deponiegas',
       'Wasserkraft', 'Windkraft', 'Solarenergie', 'Biomasse 1)',
       'Sonstige erneuerbare Energien 2)']

#melt dataset to long format data
melt = pd.melt(df3,id_vars=["Land","Jahr"],value_vars = energies)
melt.to_csv("data/lak_primary_detailed_longformat.csv")

#pivot table to wide format data
pivot_total = pd.DataFrame()

for energy in energies:
        temp = pd.pivot_table(df3, index='Land',columns="Jahr", values=energy)
        temp = temp.reset_index(level=0)

        temp["energy"] = energy
        pivot_total = pd.concat([pivot_total, temp])

pivot_total.to_csv("data/lak_primary_detailed_wideformat.csv")

df3

True
Index(['Land', 'Jahr', 'Insgesamt_x', 'Steinkohle', 'Braunkohle',
       'Mineralöle und Mineralöl produkte', 'Gase',
       'Gesamt Erneuerbare Energieträger', 'Stromaustauschsaldo',
       'Kernenergie', 'Andere Energieträger', 'Klärgas, Deponiegas',
       'Wasserkraft', 'Windkraft', 'Solarenergie', 'Biomasse 1)',
       'Sonstige erneuerbare Energien 2)', 'Gesamt Nichterneuerbar',
       'Anteil Erneuerbar'],
      dtype='object')

,Land,Jahr,Insgesamt_x,Steinkohle,Braunkohle,Mineralöle und Mineralöl produkte,Gase,Gesamt Erneuerbare Energieträger,Stromaustauschsaldo,Kernenergie,Andere Energieträger,"Klärgas, Deponiegas",Wasserkraft,Windkraft,Solarenergie,Biomasse 1),Sonstige erneuerbare Energien 2),Gesamt Nichterneuerbar,Anteil Erneuerbar
0,Baden-Württemberg,1990,1.429676e+06,188734.000000,5340.000000,655003.000000,185624.000000,28213.000000,10303.000000,351024.0,5435.00000,1932.000000,14113.0000,0.000000,0.0000,12168.000000,0.000000,1.401463e+06,1.973384
1,Baden-Württemberg,1991,1.514777e+06,194749.000000,5923.000000,699708.000000,199555.000000,28554.000000,10678.000000,370623.0,4987.00000,2036.000000,13428.0000,0.000000,0.0000,13090.000000,0.000000,1.486223e+06,1.885030
2,Baden-Württemberg,1992,1.528019e+06,181301.000000,5170.000000,705464.000000,201968.000000,29219.000000,9263.000000,390061.0,5573.00000,2238.000000,15268.0000,0.000000,0.0000,11713.000000,0.000000,1.498800e+06,1.912214
3,Baden-Württemberg,1993,1.551559e+06,178379.000000,5292.000000,721825.000000,211775.000000,30326.000000,13720.000000,384419.0,5823.00000,3164.000000,15197.0000,0.000000,0.0000,11965.000000,0.000000,1.521233e+06,1.954550
4,Baden-Württemberg,1994,1.514465e+06,162678.000000,5112.000000,680846.000000,201302.000000,32098.000000,9748.000000,417446.0,5235.00000,2995.000000,16401.0000,0.000000,0.0000,12702.000000,0.000000,1.482367e+06,2.119428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Thüringen,2016,2.388630e+05,480.650965,4381.694383,74478.123365,78055.760197,55317.990258,22389.404223,0.0,3759.38928,448.819370,684.7092,7646.742156,4599.7452,40744.113668,1193.860665,1.835450e+05,23.158877
492,Thüringen,2017,2.408469e+05,517.849682,4634.936598,74767.265134,78241.216445,60059.561567,18331.468774,0.0,4294.62265,450.221473,728.3376,10233.594224,4826.3220,42571.483448,1249.602822,1.807874e+05,24.936819
493,Thüringen,2018,2.374854e+05,545.810070,5695.268694,74675.397222,79348.090066,55589.942386,17912.512912,0.0,3718.33900,416.491352,658.6128,9792.269400,5515.3188,37890.025566,1317.224468,1.818954e+05,23.407734
494,Thüringen,2019,2.328040e+05,469.677891,5451.168312,74797.245466,76251.251688,54544.818890,16784.913658,0.0,4504.96050,403.779781,509.7348,11312.428266,5730.3540,35291.784576,1296.737468,1.782592e+05,23.429499
495,Thüringen,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
pivot_total

Jahr,Land,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,energy
0,Baden-Württemberg,188734.000000,194749.000000,181301.000000,178379.000000,162678.000000,190934.000000,200211.000000,184229.000000,200029.000000,...,164174.359600,196581.390000,171724.310000,173224.926652,173085.897586,164258.553920,160832.210545,111994.585000,NaN,Steinkohle
1,Bayern,96123.450787,99844.013801,96646.280255,98643.216216,93400.000000,99276.000000,109470.000000,103846.000000,102708.592359,...,56545.334306,58064.087880,52445.745220,53000.822260,49939.139390,47440.626520,37497.365610,35365.821000,NaN,Steinkohle
2,Berlin,82829.000000,92928.000000,91427.000000,92926.000000,89281.000000,83882.000000,83823.000000,85761.000000,84566.364737,...,36266.968188,40535.297030,43245.313974,39810.263000,36894.364000,37166.847170,30493.983000,20744.094000,22229.209000,Steinkohle
3,Brandenburg,43259.000000,31329.000000,27521.000000,32337.000000,31337.000000,35039.303000,31596.502000,33729.271000,31312.490000,...,25895.760576,31725.766649,30961.086494,34687.267990,30354.961904,34331.499850,31482.006520,29946.569543,NaN,Steinkohle
4,Bremen,73900.785933,75108.971755,67119.950405,66479.145705,73161.181011,69932.221185,79466.138086,79714.013951,80100.511228,...,96459.231612,89026.964285,88552.754686,89226.273193,84754.636010,84273.288300,79115.237309,68933.264000,50595.987536,Steinkohle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,Saarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,Sonstige erneuerbare Energien 2)
12,Sachsen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.000000,...,1257.000000,1358.000000,1588.200000,1672.400000,1797.329000,1919.964000,2030.561878,2178.038003,NaN,Sonstige erneuerbare Energien 2)
13,Sachsen-Anhalt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.470000,...,554.280000,593.040000,646.844000,NaN,NaN,815.467000,882.136000,948.743000,NaN,Sonstige erneuerbare Energien 2)
14,Schleswig-Holstein,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,156.000000,154.381140,...,984.261895,1054.134085,1193.977344,1269.422151,1367.468252,1490.202421,1598.794497,1732.656825,1874.255997,Sonstige erneuerbare Energien 2)
15,Thüringen,977.000000,625.000000,645.000000,522.000000,265.000000,15.444000,0.000000,43.900000,51.285000,...,791.250000,842.900000,902.266000,1113.865396,1193.860665,1249.602822,1317.224468,1296.737468,NaN,Sonstige erneuerbare Energien 2)

In [87]:
melt

                   Land  Jahr                          variable          value
0     Baden-Württemberg  1990                        Steinkohle  188734.000000
1     Baden-Württemberg  1991                        Steinkohle  194749.000000
2     Baden-Württemberg  1992                        Steinkohle  181301.000000
3     Baden-Württemberg  1993                        Steinkohle  178379.000000
4     Baden-Württemberg  1994                        Steinkohle  162678.000000
...                 ...   ...                               ...            ...
6939          Thüringen  2016  Sonstige erneuerbare Energien 2)    1193.860665
6940          Thüringen  2017  Sonstige erneuerbare Energien 2)    1249.602822
6941          Thüringen  2018  Sonstige erneuerbare Energien 2)    1317.224468
6942          Thüringen  2019  Sonstige erneuerbare Energien 2)    1296.737468
6943          Thüringen  2020  Sonstige erneuerbare Energien 2)            NaN

[6944 rows x 4 columns]