In [1]:
import pandas as pd

In [2]:
#list of regions

regions = {"Deutschland":0,
           "Baden-Württemberg":8,
           "Bayern":9,"Berlin":11,
           "Brandenburg":12,
           "Bremen":4,
           "Hamburg":2,
           "Hessen":6,
           "Mecklenburg-Vorpommern":13,
           "Niedersachsen":3,
           "Nordrhein-Westfalen":5,
           "Rheinland-Pfalz":7,"Saarland":10,"Sachsen":14,"Sachsen-Anhalt":15,"Schleswig-Holstein":1,"Thüringen":16}

regions = dict([(value, key) for key, value in regions.items()])

regions

{0: 'Deutschland',
 8: 'Baden-Württemberg',
 9: 'Bayern',
 11: 'Berlin',
 12: 'Brandenburg',
 4: 'Bremen',
 2: 'Hamburg',
 6: 'Hessen',
 13: 'Mecklenburg-Vorpommern',
 3: 'Niedersachsen',
 5: 'Nordrhein-Westfalen',
 7: 'Rheinland-Pfalz',
 10: 'Saarland',
 14: 'Sachsen',
 15: 'Sachsen-Anhalt',
 1: 'Schleswig-Holstein',
 16: 'Thüringen'}

In [3]:
df = pd.read_csv("collected_gerics_budesland_heisze_tage_raw.csv")
df

    AGS                    Name  1971-2000  Median
0     0             Deutschland        4.4       3
1     1      Schleswig-Holstein        2.0       1
2     2                 Hamburg        3.7       2
3     3           Niedersachsen        3.9       2
4     4                  Bremen        3.8       2
5     5     Nordrhein-Westfalen        4.4       2
6     6                  Hessen        4.3       3
7     7         Rheinland-Pfalz        5.0       4
8     8       Baden-Württemberg        4.3       5
9     9                  Bayern        4.0       5
10   10                Saarland        4.7       4
11   11                  Berlin        8.0       4
12   12             Brandenburg        6.9       4
13   13  Mecklenburg-Vorpommern        2.7       1
14   14                 Sachsen        5.3       4
15   15          Sachsen-Anhalt        6.6       4
16   16               Thüringen        3.6       3

In [5]:
bl_df = df.copy()
bl_df

    AGS                    Name  1971-2000  Median
0     0             Deutschland        4.4       3
1     1      Schleswig-Holstein        2.0       1
2     2                 Hamburg        3.7       2
3     3           Niedersachsen        3.9       2
4     4                  Bremen        3.8       2
5     5     Nordrhein-Westfalen        4.4       2
6     6                  Hessen        4.3       3
7     7         Rheinland-Pfalz        5.0       4
8     8       Baden-Württemberg        4.3       5
9     9                  Bayern        4.0       5
10   10                Saarland        4.7       4
11   11                  Berlin        8.0       4
12   12             Brandenburg        6.9       4
13   13  Mecklenburg-Vorpommern        2.7       1
14   14                 Sachsen        5.3       4
15   15          Sachsen-Anhalt        6.6       4
16   16               Thüringen        3.6       3

In [7]:
bl_df['2036-2065'] = bl_df['1971-2000']+bl_df['Median']
bl_df['percentage change'] = bl_df['Median']/bl_df['1971-2000']*100
bl_df

,AGS,Name,1971-2000,Median,2036-2065,percentage change
0,0,Deutschland,4.4,3,7.4,68.181818
1,1,Schleswig-Holstein,2.0,1,3.0,50.000000
2,2,Hamburg,3.7,2,5.7,54.054054
3,3,Niedersachsen,3.9,2,5.9,51.282051
4,4,Bremen,3.8,2,5.8,52.631579
5,5,Nordrhein-Westfalen,4.4,2,6.4,45.454545
6,6,Hessen,4.3,3,7.3,69.767442
7,7,Rheinland-Pfalz,5.0,4,9.0,80.000000
8,8,Baden-Württemberg,4.3,5,9.3,116.279070
9,9,Bayern,4.0,5,9.0,125.000000
10,10,Saarland,4.7,4,8.7,85.106383
11,11,Berlin,8.0,4,12.0,50.000000
12,12,Brandenburg,6.9,4,10.9,57.971014
13,13,Mecklenburg-Vorpommern,2.7,1,3.7,37.037037
14,14,Sachsen,5.3,4,9.3,75.471698
15,15,Sachsen-Anhalt,6.6,4,10.6,60.606061
16,16,Thüringen,3.6,3,6.6,83.333333

In [8]:
bl_df['Postcard Intro'] = bl_df.agg(lambda x: f"Ich schicke dir Grüße aus dem schönen {x['Name']}! Momentan wird es hier an durchschnittlich {str(round(x['1971-2000'],1)).replace('.',',')} Tagen im Jahr über 30 Grad, aber wenn wir so weitermachen, könnten es Mitte des Jahrhunderts schon {str(round(x['2036-2065'],1)).replace('.',',')} sein. {round(x['percentage change'])} Prozent mehr!", axis=1)

In [14]:
bl_df['Postcard Intro'][8]

'Ich schicke dir Grüße aus dem schönen Baden-Württemberg! Momentan wird es hier an durchschnittlich 4,3 Tagen im Jahr über 30 Grad, aber wenn wir so weitermachen, könnten es Mitte des Jahrhunderts schon 9,3 sein. 116 Prozent mehr!'

In [15]:
bl_df.to_csv('final_gerics_rcp45_2036_2065_heisze_tage_median_de_bundesland.csv')