In [1]:
import pandas as pd

df = pd.read_csv("data/lak_primary_energy.csv")
#df.fillna(0,inplace=True)
print(df.columns)
df.drop(columns=["Anteil Erneuerbarer Energieträger an der Strom erzeugung","Anteil Erneuerbarer Energieträger am Brutto stromver brauch"],inplace=True)
df.rename({'Anteil Erneuerbarer Energieträger am Primär energie verbrauch':"share_renewables_primary_energy_consumption"},axis=1,inplace=True)

df.to_csv("data/lak_primary_energy_longformat.csv")
df

pivot = df.pivot(index="Land",columns="Jahr",values="share_renewables_primary_energy_consumption").reset_index(level=0)
pivot.to_csv("data/lak_primary_energy_wideformat.csv")
pivot

Index(['Land', 'Jahr', 'Anm',
       'Anteil Erneuerbarer Energieträger am Primär energie verbrauch',
       'Anteil Erneuerbarer Energieträger an der Strom erzeugung',
       'Anteil Erneuerbarer Energieträger am Brutto stromver brauch', 'Stand'],
      dtype='object')

Jahr,Land,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Baden-Württemberg,1.973384,1.885030,1.912214,1.954550,2.119428,2.022867,1.862252,2.129294,2.049883,...,10.404060,12.100216,11.841142,12.382507,12.307096,12.633716,13.007524,13.914227,14.170586,NaN
1,Bayern,3.436758,3.030966,3.394515,3.451447,3.639240,5.533574,5.242610,5.303970,5.389134,...,14.155231,15.469614,15.936164,16.290496,17.078344,17.877657,18.475024,19.694352,20.126032,NaN
2,Berlin,0.632047,0.689024,0.743422,0.592116,0.622695,0.541705,0.482504,0.400764,0.604274,...,3.409491,3.766699,3.920761,4.134106,4.226569,4.123678,4.276234,5.226370,5.597884,6.109197
3,Brandenburg,0.110403,0.337857,0.426805,0.461269,1.374056,1.492600,0.485754,0.584719,1.232190,...,15.321537,15.248247,15.131556,15.816972,16.434232,16.298550,17.651191,17.463145,20.836697,NaN
4,Bremen,1.510185,1.578326,1.530833,1.739043,1.386472,1.701538,1.596159,1.612561,1.716235,...,5.277541,5.561992,6.232616,7.369313,6.831005,6.546133,6.436883,6.508580,6.564200,NaN
5,Hamburg,0.817215,0.781431,0.797269,0.772181,0.791764,0.981035,0.931171,1.023653,NaN,...,4.575965,4.747051,4.331191,4.828493,4.542901,4.068457,4.139770,4.708825,4.941222,4.938644
6,Hessen,0.896479,0.920948,0.909532,0.886219,0.918519,0.964406,0.743264,0.795818,0.799858,...,7.827199,8.346747,8.607056,8.729367,9.197449,9.384863,9.864455,11.062002,11.013179,NaN
7,Mecklenburg-Vorpommern,0.644047,0.511536,0.291216,0.836169,1.021946,1.488904,1.526277,1.317178,1.806489,...,28.539141,31.897563,33.248548,36.968329,40.256810,39.431939,38.404667,41.470171,NaN,NaN
8,Niedersachsen,0.838594,0.729412,NaN,NaN,0.686758,NaN,0.426513,NaN,1.260196,...,13.036367,15.331814,15.204557,15.433274,17.342187,17.743884,19.267226,20.705275,22.507307,NaN
9,Nordrhein-Westfalen,0.420567,0.417048,0.427653,0.433351,0.488692,0.498464,0.523073,0.617262,0.673151,...,3.819742,4.269227,4.262582,4.149478,4.511430,4.829857,5.101613,5.384077,5.823425,NaN
10,Rheinland-Pfalz,0.875238,0.867825,0.836698,0.751761,1.154053,0.895245,1.125692,1.218251,1.586130,...,9.561831,10.779220,11.237125,11.632507,12.403369,12.486815,12.718415,13.249353,13.713921,NaN
11,Saarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.190064,2.994970,3.204869,3.940690,4.069594,NaN,NaN,NaN,NaN,NaN
12,Sachsen,0.119966,0.261847,0.264836,0.147958,0.242725,0.313859,0.304315,0.372686,0.559485,...,7.840035,8.016728,8.356178,8.516027,9.376590,9.079134,9.074051,9.026551,9.977345,NaN
13,Sachsen-Anhalt,0.102776,0.069710,0.167639,0.100719,0.118365,0.123676,0.165682,0.324780,0.378686,...,16.439914,16.913515,18.100293,19.365063,NaN,NaN,21.586912,19.124589,NaN,NaN
14,Schleswig-Holstein,0.313722,0.310962,0.303540,0.503526,0.687912,0.861675,0.905124,1.063595,1.554903,...,14.556258,16.349384,16.140012,17.878464,22.854928,24.370951,29.861533,28.393724,29.609081,29.511610
15,Thüringen,0.596689,0.601963,0.875582,0.606604,0.971146,1.062317,1.067734,1.562087,1.829861,...,21.467574,21.677760,23.082897,23.116544,24.079637,24.525170,26.349028,23.637231,23.435769,NaN

In [2]:
df

,Land,Jahr,Anm,share_renewables_primary_energy_consumption,Stand
0,Baden-Württemberg,1990,NaN,1.973384,NaN
1,Baden-Württemberg,1991,NaN,1.885030,NaN
2,Baden-Württemberg,1992,NaN,1.912214,NaN
3,Baden-Württemberg,1993,NaN,1.954550,NaN
4,Baden-Württemberg,1994,NaN,2.119428,NaN
...,...,...,...,...,...
491,Thüringen,2016,NaN,24.525170,NaN
492,Thüringen,2017,NaN,26.349028,NaN
493,Thüringen,2018,NaN,23.637231,NaN
494,Thüringen,2019,NaN,23.435769,NaN
495,Thüringen,2020,NaN,NaN,NaN