In [1]:
### Download agriculture data on number of animals per farm
### from regionalstatistik.de and compile into csv with Regions as rows
### and indicators and years as columns.

In [2]:
#41141-04-02-4, 41141-03-01-4
#https://www.regionalstatistik.de/genesis/online?operation=previous&levelindex=1&step=0&titel=Suche&levelid=1658981242301&levelid=1658981123219#abreadcrumb
#include only 2020 and download as flat

In [3]:
# import necessary libraries

import pandas as pd
import numpy as np

In [4]:
#load dataset from local file
source_df = pd.read_csv("data/41141-04-02-4_flat.csv",delimiter=";", encoding='latin1', low_memory=False)
source_df

,Statistik_Code,Statistik_Label,Zeit_Code,Zeit_Label,Zeit,1_Merkmal_Code,1_Merkmal_Label,1_Auspraegung_Code,1_Auspraegung_Label,BTR010__Landwirtschaftliche_Betriebe__Anzahl,FLC017__Landwirtschaftlich_genutzte_Flaeche__ha,BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl,VIE003__Viehbestand__GV,BTR030__Landwirtsch._Betriebe_mit_oekologischem_Landbau__Anzahl,FLC047__Oekologisch_bewirtschaftete_LF__ha,BTR021__Landwirtschaftl._Betriebe_mit_oekolog._Viehhaltung__Anzahl,VIE004__Oekologisch_bewirtschafteter_Viehbestand__GV
0,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,DG,Deutschland,262776,16595024,168833,12016049,26133,1592735,17262,779815
1,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,1,Schleswig-Holstein,12194,982753,8937,941807,712,62689,547,37980
2,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,1001,"Flensburg, kreisfreie Stadt",11,244,8,171,1,.,1,.
3,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",31,2014,18,1553,2,.,1,.
4,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,1003,"Lï¿½beck, Hansestadt, kreisfreie Stadt",71,5386,41,2848,8,1094,6,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,16073,"Saalfeld-Rudolstadt, Kreis",177,33442,140,18751,34,6740,27,3492
534,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,16074,Saale-Holzland-Kreis,226,39254,178,22814,20,1464,13,447
535,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,16075,Saale-Orla-Kreis,284,50401,218,30719,37,3858,25,1534
536,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,16076,"Greiz, Kreis",337,45767,265,28699,18,1360,14,280
537,41141,Agrarstrukturerhebung / Landwirtschaftszï¿½hlung,JAHR,Jahr,2020,KREISE,Kreise und kreisfreie Stï¿½dte,16077,"Altenburger Land, Kreis",193,36401,109,12267,16,2014,8,719

In [5]:
#load 2016 dataset from local file to complete Viehbestand data for Rheinland Pfalz
vb16_df = pd.read_csv("data/41141-03-01-4-2016.csv",delimiter=";", encoding='latin1', low_memory=False)

#keep only viehbestand column and AGS for merge
vb16_df = vb16_df[['AGS','Viehbestand 2016']]

#rename columns according to convention
vb16_df.columns = ['AGS','Tierzahl_GV_2016']

#check if data for RheinlandPfalz is complete
vb16_df[(vb16_df['AGS']>=7000)&(vb16_df['AGS']<8000)]

      AGS Tierzahl_GV_2016
167  7111              368
168  7131             9665
169  7132            14350
170  7133             7095
171  7134            10493
172  7135             6144
173  7137            11289
174  7138            11134
175  7140            13572
176  7141            10497
177  7143            18362
179  7211              507
180  7231            18729
181  7232            79119
182  7233            26570
183  7235            16929
185  7311                .
186  7312              296
187  7313               29
188  7314              179
189  7315              195
190  7316              299
191  7317              576
192  7318               67
193  7319              220
194  7320             1722
195  7331                .
196  7332             1159
197  7333             6742
198  7334             1776
199  7335             8184
200  7336            10575
201  7337             1480
202  7338              496
203  7339             2198
204  7340            12775

In [6]:
#load 2016 dataset from local file to complete Landwirtschaftsfläche data for Rheinland Pfalz
lf16_df = pd.read_csv("data/41141-04-02-4-2016.csv",delimiter=";", encoding='latin1', low_memory=False)

#keep only landwirtschaftlich genutzte fläche data and AGS for merge
lf16_df = lf16_df[['AGS','Landwirtschaftlich genutzte Flaeche 2016']]

#rename columns according to convention
lf16_df.columns = ['AGS','Landwirtschaft_Flaeche_2016']

#check if data for RheinlandPfalz is complete
lf16_df[(lf16_df['AGS']>=7000)&(lf16_df['AGS']<8000)]

      AGS Landwirtschaft_Flaeche_2016
167  7111                        1972
168  7131                       18829
169  7132                       16236
170  7133                       32300
171  7134                       20065
172  7135                       22295
173  7137                       36265
174  7138                       16287
175  7140                       37301
176  7141                       26679
177  7143                       26296
179  7211                        1860
180  7231                       34098
181  7232                       78482
182  7233                       31368
183  7235                       33289
185  7311                        2243
186  7312                        1183
187  7313                        2018
188  7314                        1548
189  7315                        4961
190  7316                        3330
191  7317                        1105
192  7318                         571
193  7319                        7089
194  7320                        2999
195  7331                       40018
196  7332                       16461
197  7333                       32724
198  7334                       16704
199  7335                       17241
200  7336                       24311
201  7337                       22791
202  7338                       16248
203  7339                       32642
204  7340                       18953

In [7]:
source_df.columns

Index(['Statistik_Code', 'Statistik_Label', 'Zeit_Code', 'Zeit_Label', 'Zeit',
       '1_Merkmal_Code', '1_Merkmal_Label', '1_Auspraegung_Code',
       '1_Auspraegung_Label', 'BTR010__Landwirtschaftliche_Betriebe__Anzahl',
       'FLC017__Landwirtschaftlich_genutzte_Flaeche__ha',
       'BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl',
       'VIE003__Viehbestand__GV',
       'BTR030__Landwirtsch._Betriebe_mit_oekologischem_Landbau__Anzahl',
       'FLC047__Oekologisch_bewirtschaftete_LF__ha',
       'BTR021__Landwirtschaftl._Betriebe_mit_oekolog._Viehhaltung__Anzahl',
       'VIE004__Oekologisch_bewirtschafteter_Viehbestand__GV'],
      dtype='object')

In [8]:
#keep only relevant columns
gv_df = source_df[['1_Auspraegung_Code','1_Auspraegung_Label','FLC017__Landwirtschaftlich_genutzte_Flaeche__ha','VIE003__Viehbestand__GV']].copy()

#rename columns
gv_df.rename(columns={'1_Auspraegung_Code':'AGS','1_Auspraegung_Label':'Name','FLC017__Landwirtschaftlich_genutzte_Flaeche__ha':'Landwirtschaft_Flaeche','VIE003__Viehbestand__GV':'Tierzahl_GV'},inplace=True)

#rename AGS for Deutschland from DG to 0 according to project convention
gv_df['AGS']=gv_df['AGS'].replace("DG",0)

#convert AGS column to numeric for merge
gv_df['AGS'] = gv_df['AGS'].apply(pd.to_numeric,errors='coerce')

#merge viehbestand and landwirtschaftsfläche data for 2016 on AGS
gv_df = gv_df.merge(vb16_df,on='AGS', how='left')
gv_df = gv_df.merge(lf16_df,on='AGS', how='left')

#sort columns to facilitate forward fill
gv_df = gv_df[['AGS', 'Name', 'Landwirtschaft_Flaeche_2016','Landwirtschaft_Flaeche', 'Tierzahl_GV_2016','Tierzahl_GV']]

#check Rheinland Pfalz data
gv_df[(gv_df['AGS']>=7000)&(gv_df['AGS']<8000)]

,AGS,Name,Landwirtschaft_Flaeche_2016,Landwirtschaft_Flaeche,Tierzahl_GV_2016,Tierzahl_GV
167,7111,"Koblenz, kreisfreie Stadt",1972,...,368,...
168,7131,"Ahrweiler, Landkreis",18829,...,9665,...
169,7132,"Altenkirchen (Westerwald), Landkreis",16236,...,14350,...
170,7133,"Bad Kreuznach, Landkreis",32300,...,7095,...
171,7134,"Birkenfeld, Landkreis",20065,...,10493,...
172,7135,"Cochem-Zell, Landkreis",22295,...,6144,...
173,7137,"Mayen-Koblenz, Landkreis",36265,...,11289,...
174,7138,"Neuwied, Landkreis",16287,...,11134,...
175,7140,Rhein-Hunsrï¿½ck-Kreis,37301,...,13572,...
176,7141,Rhein-Lahn-Kreis,26679,...,10497,...
177,7143,Westerwaldkreis,26296,...,18362,...
179,7211,"Trier, kreisfreie Stadt",1860,...,507,...
180,7231,"Bernkastel-Wittlich, Landkreis",34098,...,18729,...
181,7232,Eifelkreis Bitburg-Prï¿½m,78482,...,79119,...
182,7233,"Vulkaneifel, Landkreis",31368,...,26570,...
183,7235,"Trier-Saarburg, Landkreis",33289,...,16929,...
185,7311,"Frankenthal (Pfalz), kreisfreie Stadt",2243,...,.,...
186,7312,"Kaiserslautern, kreisfreie Stadt",1183,...,296,...
187,7313,"Landau in der Pfalz, kreisfreie Stadt",2018,...,29,...
188,7314,"Ludwigshafen am Rhein, kreisfreie Stadt",1548,...,179,...
189,7315,"Mainz, kreisfreie Stadt",4961,...,195,...
190,7316,"Neustadt an der Weinstraï¿½e, kreisfreie...",3330,...,299,...
191,7317,"Pirmasens, kreisfreie Stadt",1105,...,576,...
192,7318,"Speyer, kreisfreie Stadt",571,...,67,...
193,7319,"Worms, kreisfreie Stadt",7089,...,220,...
194,7320,"Zweibrï¿½cken, kreisfreie Stadt",2999,...,1722,...
195,7331,"Alzey-Worms, Landkreis",40018,...,.,...
196,7332,"Bad Dï¿½rkheim, Landkreis",16461,...,1159,...
197,7333,Donnersbergkreis,32724,...,6742,...
198,7334,"Germersheim, Landkreis",16704,...,1776,...
199,7335,"Kaiserslautern, Landkreis",17241,...,8184,...
200,7336,"Kusel, Landkreis",24311,...,10575,...
201,7337,"Sï¿½dliche Weinstraï¿½e, Landkreis",22791,...,1480,...
202,7338,Rhein-Pfalz-Kreis,16248,...,496,...
203,7339,"Mainz-Bingen, Landkreis",32642,...,2198,...
204,7340,"Sï¿½dwestpfalz, Landkreis",18953,...,12775,...

In [9]:
#replace '-' with 0 and '.' with 'NaN according to Zeichnerklärung
gv_df.replace('-','0',inplace=True)

#pd.to_numeric with 'coerce' replaces the only non-numeric values '.' with NaN
gv_df['Tierzahl_GV'] = gv_df['Tierzahl_GV'].apply(pd.to_numeric,errors='coerce')
gv_df['Landwirtschaft_Flaeche'] = gv_df['Landwirtschaft_Flaeche'].apply(pd.to_numeric,errors='coerce')
gv_df['Tierzahl_GV_2016'] = gv_df['Tierzahl_GV_2016'].apply(pd.to_numeric,errors='coerce')
gv_df['Landwirtschaft_Flaeche_2016'] = gv_df['Landwirtschaft_Flaeche_2016'].apply(pd.to_numeric,errors='coerce')

gv_df[(gv_df['AGS']>=7000)&(gv_df['AGS']<8000)]

,AGS,Name,Landwirtschaft_Flaeche_2016,Landwirtschaft_Flaeche,Tierzahl_GV_2016,Tierzahl_GV
167,7111,"Koblenz, kreisfreie Stadt",1972.0,NaN,368.0,NaN
168,7131,"Ahrweiler, Landkreis",18829.0,NaN,9665.0,NaN
169,7132,"Altenkirchen (Westerwald), Landkreis",16236.0,NaN,14350.0,NaN
170,7133,"Bad Kreuznach, Landkreis",32300.0,NaN,7095.0,NaN
171,7134,"Birkenfeld, Landkreis",20065.0,NaN,10493.0,NaN
172,7135,"Cochem-Zell, Landkreis",22295.0,NaN,6144.0,NaN
173,7137,"Mayen-Koblenz, Landkreis",36265.0,NaN,11289.0,NaN
174,7138,"Neuwied, Landkreis",16287.0,NaN,11134.0,NaN
175,7140,Rhein-Hunsrï¿½ck-Kreis,37301.0,NaN,13572.0,NaN
176,7141,Rhein-Lahn-Kreis,26679.0,NaN,10497.0,NaN
177,7143,Westerwaldkreis,26296.0,NaN,18362.0,NaN
179,7211,"Trier, kreisfreie Stadt",1860.0,NaN,507.0,NaN
180,7231,"Bernkastel-Wittlich, Landkreis",34098.0,NaN,18729.0,NaN
181,7232,Eifelkreis Bitburg-Prï¿½m,78482.0,NaN,79119.0,NaN
182,7233,"Vulkaneifel, Landkreis",31368.0,NaN,26570.0,NaN
183,7235,"Trier-Saarburg, Landkreis",33289.0,NaN,16929.0,NaN
185,7311,"Frankenthal (Pfalz), kreisfreie Stadt",2243.0,NaN,NaN,NaN
186,7312,"Kaiserslautern, kreisfreie Stadt",1183.0,NaN,296.0,NaN
187,7313,"Landau in der Pfalz, kreisfreie Stadt",2018.0,NaN,29.0,NaN
188,7314,"Ludwigshafen am Rhein, kreisfreie Stadt",1548.0,NaN,179.0,NaN
189,7315,"Mainz, kreisfreie Stadt",4961.0,NaN,195.0,NaN
190,7316,"Neustadt an der Weinstraï¿½e, kreisfreie...",3330.0,NaN,299.0,NaN
191,7317,"Pirmasens, kreisfreie Stadt",1105.0,NaN,576.0,NaN
192,7318,"Speyer, kreisfreie Stadt",571.0,NaN,67.0,NaN
193,7319,"Worms, kreisfreie Stadt",7089.0,NaN,220.0,NaN
194,7320,"Zweibrï¿½cken, kreisfreie Stadt",2999.0,NaN,1722.0,NaN
195,7331,"Alzey-Worms, Landkreis",40018.0,NaN,NaN,NaN
196,7332,"Bad Dï¿½rkheim, Landkreis",16461.0,NaN,1159.0,NaN
197,7333,Donnersbergkreis,32724.0,NaN,6742.0,NaN
198,7334,"Germersheim, Landkreis",16704.0,NaN,1776.0,NaN
199,7335,"Kaiserslautern, Landkreis",17241.0,NaN,8184.0,NaN
200,7336,"Kusel, Landkreis",24311.0,NaN,10575.0,NaN
201,7337,"Sï¿½dliche Weinstraï¿½e, Landkreis",22791.0,NaN,1480.0,NaN
202,7338,Rhein-Pfalz-Kreis,16248.0,NaN,496.0,NaN
203,7339,"Mainz-Bingen, Landkreis",32642.0,NaN,2198.0,NaN
204,7340,"Sï¿½dwestpfalz, Landkreis",18953.0,NaN,12775.0,NaN

In [10]:
#replace landwirtschaft and tierzahl columns with forward filled columns
gv_df[['Landwirtschaft_Flaeche_2016','Landwirtschaft_Flaeche']]= gv_df[['Landwirtschaft_Flaeche_2016','Landwirtschaft_Flaeche']].fillna(method='ffill',axis=1)
gv_df[['Tierzahl_GV_2016','Tierzahl_GV']]= gv_df[['Tierzahl_GV_2016','Tierzahl_GV']].fillna(method='ffill',axis=1)

gv_df[(gv_df['AGS']>=7000)&(gv_df['AGS']<8000)]

,AGS,Name,Landwirtschaft_Flaeche_2016,Landwirtschaft_Flaeche,Tierzahl_GV_2016,Tierzahl_GV
167,7111,"Koblenz, kreisfreie Stadt",1972.0,1972.0,368.0,368.0
168,7131,"Ahrweiler, Landkreis",18829.0,18829.0,9665.0,9665.0
169,7132,"Altenkirchen (Westerwald), Landkreis",16236.0,16236.0,14350.0,14350.0
170,7133,"Bad Kreuznach, Landkreis",32300.0,32300.0,7095.0,7095.0
171,7134,"Birkenfeld, Landkreis",20065.0,20065.0,10493.0,10493.0
172,7135,"Cochem-Zell, Landkreis",22295.0,22295.0,6144.0,6144.0
173,7137,"Mayen-Koblenz, Landkreis",36265.0,36265.0,11289.0,11289.0
174,7138,"Neuwied, Landkreis",16287.0,16287.0,11134.0,11134.0
175,7140,Rhein-Hunsrï¿½ck-Kreis,37301.0,37301.0,13572.0,13572.0
176,7141,Rhein-Lahn-Kreis,26679.0,26679.0,10497.0,10497.0
177,7143,Westerwaldkreis,26296.0,26296.0,18362.0,18362.0
179,7211,"Trier, kreisfreie Stadt",1860.0,1860.0,507.0,507.0
180,7231,"Bernkastel-Wittlich, Landkreis",34098.0,34098.0,18729.0,18729.0
181,7232,Eifelkreis Bitburg-Prï¿½m,78482.0,78482.0,79119.0,79119.0
182,7233,"Vulkaneifel, Landkreis",31368.0,31368.0,26570.0,26570.0
183,7235,"Trier-Saarburg, Landkreis",33289.0,33289.0,16929.0,16929.0
185,7311,"Frankenthal (Pfalz), kreisfreie Stadt",2243.0,2243.0,NaN,NaN
186,7312,"Kaiserslautern, kreisfreie Stadt",1183.0,1183.0,296.0,296.0
187,7313,"Landau in der Pfalz, kreisfreie Stadt",2018.0,2018.0,29.0,29.0
188,7314,"Ludwigshafen am Rhein, kreisfreie Stadt",1548.0,1548.0,179.0,179.0
189,7315,"Mainz, kreisfreie Stadt",4961.0,4961.0,195.0,195.0
190,7316,"Neustadt an der Weinstraï¿½e, kreisfreie...",3330.0,3330.0,299.0,299.0
191,7317,"Pirmasens, kreisfreie Stadt",1105.0,1105.0,576.0,576.0
192,7318,"Speyer, kreisfreie Stadt",571.0,571.0,67.0,67.0
193,7319,"Worms, kreisfreie Stadt",7089.0,7089.0,220.0,220.0
194,7320,"Zweibrï¿½cken, kreisfreie Stadt",2999.0,2999.0,1722.0,1722.0
195,7331,"Alzey-Worms, Landkreis",40018.0,40018.0,NaN,NaN
196,7332,"Bad Dï¿½rkheim, Landkreis",16461.0,16461.0,1159.0,1159.0
197,7333,Donnersbergkreis,32724.0,32724.0,6742.0,6742.0
198,7334,"Germersheim, Landkreis",16704.0,16704.0,1776.0,1776.0
199,7335,"Kaiserslautern, Landkreis",17241.0,17241.0,8184.0,8184.0
200,7336,"Kusel, Landkreis",24311.0,24311.0,10575.0,10575.0
201,7337,"Sï¿½dliche Weinstraï¿½e, Landkreis",22791.0,22791.0,1480.0,1480.0
202,7338,Rhein-Pfalz-Kreis,16248.0,16248.0,496.0,496.0
203,7339,"Mainz-Bingen, Landkreis",32642.0,32642.0,2198.0,2198.0
204,7340,"Sï¿½dwestpfalz, Landkreis",18953.0,18953.0,12775.0,12775.0

In [11]:
#drop columns with 2016 data
gv_df = gv_df[['AGS', 'Name', 'Landwirtschaft_Flaeche','Tierzahl_GV']]

#calculate animals per area for ranking
gv_df['Tiere_pro_Flaeche'] = gv_df['Tierzahl_GV']/gv_df['Landwirtschaft_Flaeche']
gv_df

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche
0,0,Deutschland,16595024.0,12016049.0,0.724075
1,1,Schleswig-Holstein,982753.0,941807.0,0.958335
2,1001,"Flensburg, kreisfreie Stadt",244.0,171.0,0.700820
3,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",2014.0,1553.0,0.771102
4,1003,"Lï¿½beck, Hansestadt, kreisfreie Stadt",5386.0,2848.0,0.528778
...,...,...,...,...,...
533,16073,"Saalfeld-Rudolstadt, Kreis",33442.0,18751.0,0.560702
534,16074,Saale-Holzland-Kreis,39254.0,22814.0,0.581189
535,16075,Saale-Orla-Kreis,50401.0,30719.0,0.609492
536,16076,"Greiz, Kreis",45767.0,28699.0,0.627068
537,16077,"Altenburger Land, Kreis",36401.0,12267.0,0.336996

## Landkreise

In [12]:
#dictionary to assign thirds based on rank
bins=[1,133,266,399]
names=['besten Drittel','mittleren Drittel','schlechtesten Drittel']

In [13]:
#load list of current landkreise
kreise_akt = pd.read_csv("../general_data/gerics_landkreis_names_for_ranking.csv")
kreise_akt = kreise_akt[['AGS','Gerics_Name','Gerics_Bundesland']].copy()

kreise_liste = kreise_akt['AGS'].to_list()

kreise_akt

       AGS          Gerics_Name    Gerics_Bundesland
0     5124            Wuppertal  Nordrhein-Westfalen
1    16073  Saalfeld-Rudolstadt            Thüringen
2    16072            Sonneberg            Thüringen
3    16071        Weimarer Land            Thüringen
4    16070            Ilm-Kreis            Thüringen
..     ...                  ...                  ...
396   5116      Mönchengladbach  Nordrhein-Westfalen
397   5562       Recklinghausen  Nordrhein-Westfalen
398   7338    Rhein-Pfalz-Kreis      Rheinland-Pfalz
399   5162    Rhein-Kreis Neuss  Nordrhein-Westfalen
400   5166              Viersen  Nordrhein-Westfalen

[401 rows x 3 columns]

In [14]:
agr_kreise = gv_df.copy()
agr_kreise

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche
0,0,Deutschland,16595024.0,12016049.0,0.724075
1,1,Schleswig-Holstein,982753.0,941807.0,0.958335
2,1001,"Flensburg, kreisfreie Stadt",244.0,171.0,0.700820
3,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",2014.0,1553.0,0.771102
4,1003,"Lï¿½beck, Hansestadt, kreisfreie Stadt",5386.0,2848.0,0.528778
...,...,...,...,...,...
533,16073,"Saalfeld-Rudolstadt, Kreis",33442.0,18751.0,0.560702
534,16074,Saale-Holzland-Kreis,39254.0,22814.0,0.581189
535,16075,Saale-Orla-Kreis,50401.0,30719.0,0.609492
536,16076,"Greiz, Kreis",45767.0,28699.0,0.627068
537,16077,"Altenburger Land, Kreis",36401.0,12267.0,0.336996

In [15]:
agr_filter = agr_kreise[agr_kreise['AGS'].isin(kreise_liste)].copy().reset_index(drop=True)
agr_filter

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche
0,1001,"Flensburg, kreisfreie Stadt",244.0,171.0,0.700820
1,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",2014.0,1553.0,0.771102
2,1003,"Lï¿½beck, Hansestadt, kreisfreie Stadt",5386.0,2848.0,0.528778
3,1004,"Neumï¿½nster, kreisfreie Stadt",1487.0,1662.0,1.117687
4,1051,"Dithmarschen, Landkreis",100554.0,104009.0,1.034360
...,...,...,...,...,...
394,16073,"Saalfeld-Rudolstadt, Kreis",33442.0,18751.0,0.560702
395,16074,Saale-Holzland-Kreis,39254.0,22814.0,0.581189
396,16075,Saale-Orla-Kreis,50401.0,30719.0,0.609492
397,16076,"Greiz, Kreis",45767.0,28699.0,0.627068
398,16077,"Altenburger Land, Kreis",36401.0,12267.0,0.336996

In [16]:
#check to see if data on any landkreise missing
missing = [x for x in kreise_liste if x not in agr_kreise['AGS'].to_list()]
missing

[11000, 2000]

In [17]:
#load gerics names and replace
agr_filter= agr_filter.merge(kreise_akt, on='AGS',how='left')
agr_filter

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche,Gerics_Name,Gerics_Bundesland
0,1001,"Flensburg, kreisfreie Stadt",244.0,171.0,0.700820,Flensburg,Schleswig-Holstein
1,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",2014.0,1553.0,0.771102,Kiel,Schleswig-Holstein
2,1003,"Lï¿½beck, Hansestadt, kreisfreie Stadt",5386.0,2848.0,0.528778,Lübeck,Schleswig-Holstein
3,1004,"Neumï¿½nster, kreisfreie Stadt",1487.0,1662.0,1.117687,Neumünster,Schleswig-Holstein
4,1051,"Dithmarschen, Landkreis",100554.0,104009.0,1.034360,Dithmarschen,Schleswig-Holstein
...,...,...,...,...,...,...,...
394,16073,"Saalfeld-Rudolstadt, Kreis",33442.0,18751.0,0.560702,Saalfeld-Rudolstadt,Thüringen
395,16074,Saale-Holzland-Kreis,39254.0,22814.0,0.581189,Saale-Holzland-Kreis,Thüringen
396,16075,Saale-Orla-Kreis,50401.0,30719.0,0.609492,Saale-Orla-Kreis,Thüringen
397,16076,"Greiz, Kreis",45767.0,28699.0,0.627068,Greiz,Thüringen
398,16077,"Altenburger Land, Kreis",36401.0,12267.0,0.336996,Altenburger Land,Thüringen

In [18]:
agr_tiere = agr_filter[['AGS','Gerics_Name','Gerics_Bundesland','Tierzahl_GV','Landwirtschaft_Flaeche','Tiere_pro_Flaeche']].copy()
agr_tiere.sort_values('Tiere_pro_Flaeche',ascending=True,inplace=True)
agr_tiere.reset_index(drop=True,inplace=True)

agr_tiere

,AGS,Gerics_Name,Gerics_Bundesland,Tierzahl_GV,Landwirtschaft_Flaeche,Tiere_pro_Flaeche
0,7313,Landau in der Pfalz,Rheinland-Pfalz,29.0,2018.0,0.014371
1,9362,Regensburg,Bayern,35.0,2243.0,0.015604
2,9461,Bamberg,Bayern,10.0,406.0,0.024631
3,7338,Rhein-Pfalz-Kreis,Rheinland-Pfalz,496.0,16248.0,0.030527
4,7319,Worms,Rheinland-Pfalz,220.0,7089.0,0.031034
...,...,...,...,...,...,...
394,4012,Bremerhaven,Bremen,NaN,145.0,NaN
395,6411,Darmstadt,Hessen,NaN,1643.0,NaN
396,6413,Offenbach am Main,Hessen,NaN,207.0,NaN
397,7311,Frankenthal (Pfalz),Rheinland-Pfalz,NaN,2243.0,NaN
398,7331,Alzey-Worms,Rheinland-Pfalz,NaN,40018.0,NaN

In [19]:
#check which landkreise are still NaN
agr_tiere[pd.isna(agr_tiere['Tiere_pro_Flaeche'])]

#only urban landkreise in which number of animals are "unknown" or "confidential"
#cross checked that NaN DOES NOT imply zero here, because some have Tierzahl info for organic farms in these Landkreise

,AGS,Gerics_Name,Gerics_Bundesland,Tierzahl_GV,Landwirtschaft_Flaeche,Tiere_pro_Flaeche
393,4011,Bremen,Bremen,NaN,7779.0,NaN
394,4012,Bremerhaven,Bremen,NaN,145.0,NaN
395,6411,Darmstadt,Hessen,NaN,1643.0,NaN
396,6413,Offenbach am Main,Hessen,NaN,207.0,NaN
397,7311,Frankenthal (Pfalz),Rheinland-Pfalz,NaN,2243.0,NaN
398,7331,Alzey-Worms,Rheinland-Pfalz,NaN,40018.0,NaN

In [20]:
#what do we do with NaNs for postcard text and ranking?

In [21]:
agr_tiere['rank'] = agr_tiere['Tiere_pro_Flaeche'].rank(na_option = 'keep')
agr_tiere['third'] = pd.cut(agr_tiere['rank'], bins, labels=names,include_lowest=True)
agr_tiere

,AGS,Gerics_Name,Gerics_Bundesland,Tierzahl_GV,Landwirtschaft_Flaeche,Tiere_pro_Flaeche,rank,third
0,7313,Landau in der Pfalz,Rheinland-Pfalz,29.0,2018.0,0.014371,1.0,besten Drittel
1,9362,Regensburg,Bayern,35.0,2243.0,0.015604,2.0,besten Drittel
2,9461,Bamberg,Bayern,10.0,406.0,0.024631,3.0,besten Drittel
3,7338,Rhein-Pfalz-Kreis,Rheinland-Pfalz,496.0,16248.0,0.030527,4.0,besten Drittel
4,7319,Worms,Rheinland-Pfalz,220.0,7089.0,0.031034,5.0,besten Drittel
...,...,...,...,...,...,...,...,...
394,4012,Bremerhaven,Bremen,NaN,145.0,NaN,NaN,NaN
395,6411,Darmstadt,Hessen,NaN,1643.0,NaN,NaN,NaN
396,6413,Offenbach am Main,Hessen,NaN,207.0,NaN,NaN,NaN
397,7311,Frankenthal (Pfalz),Rheinland-Pfalz,NaN,2243.0,NaN,NaN,NaN
398,7331,Alzey-Worms,Rheinland-Pfalz,NaN,40018.0,NaN,NaN,NaN

In [22]:
agr_final = agr_tiere[['AGS','Gerics_Name','Gerics_Bundesland','Landwirtschaft_Flaeche','Tierzahl_GV','Tiere_pro_Flaeche','rank','third']].copy()
agr_final.columns=['AGS','Name','Bundesland','Landwirtschaft_Flaeche','Tierzahl_GV','GV_pro_Flaeche','agriculture_rank','agriculture_third']
agr_final

,AGS,Name,Bundesland,Landwirtschaft_Flaeche,Tierzahl_GV,GV_pro_Flaeche,agriculture_rank,agriculture_third
0,7313,Landau in der Pfalz,Rheinland-Pfalz,2018.0,29.0,0.014371,1.0,besten Drittel
1,9362,Regensburg,Bayern,2243.0,35.0,0.015604,2.0,besten Drittel
2,9461,Bamberg,Bayern,406.0,10.0,0.024631,3.0,besten Drittel
3,7338,Rhein-Pfalz-Kreis,Rheinland-Pfalz,16248.0,496.0,0.030527,4.0,besten Drittel
4,7319,Worms,Rheinland-Pfalz,7089.0,220.0,0.031034,5.0,besten Drittel
...,...,...,...,...,...,...,...,...
394,4012,Bremerhaven,Bremen,145.0,NaN,NaN,NaN,NaN
395,6411,Darmstadt,Hessen,1643.0,NaN,NaN,NaN,NaN
396,6413,Offenbach am Main,Hessen,207.0,NaN,NaN,NaN,NaN
397,7311,Frankenthal (Pfalz),Rheinland-Pfalz,2243.0,NaN,NaN,NaN,NaN
398,7331,Alzey-Worms,Rheinland-Pfalz,40018.0,NaN,NaN,NaN,NaN

## Bundesländer

In [23]:
#dictionary to assign thirds based on rank
bl_bins=[1,5,11,16]
bl_names=['besten Drittel','mittleren Drittel','schlechtesten Drittel']

In [24]:
blagr_df = gv_df[gv_df['AGS']<17].copy().reset_index(drop=True)
blagr_df['Name']=blagr_df['Name'].str.strip()
blagr_df.replace('Baden-Wï¿½rttemberg, Land','Baden-Württemberg',inplace=True)
blagr_df.replace('Thï¿½ringen','Thüringen',inplace=True)
blagr_df

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche
0,0,Deutschland,16595024.0,12016049.0,0.724075
1,1,Schleswig-Holstein,982753.0,941807.0,0.958335
2,2,Hamburg,14563.0,7074.0,0.485752
3,3,Niedersachsen,2571337.0,2930734.0,1.139770
4,4,Bremen,7923.0,7587.0,0.957592
5,5,Nordrhein-Westfalen,1473157.0,1725424.0,1.171242
6,6,Hessen,764705.0,411548.0,0.538179
7,7,Rheinland-Pfalz,698763.0,306501.0,0.438634
8,8,Baden-Württemberg,1408063.0,942605.0,0.669434
9,9,Bayern,3107697.0,2608043.0,0.839220
10,10,Saarland,74024.0,36861.0,0.497960
11,11,Berlin,1864.0,946.0,0.507511
12,12,Brandenburg,1310361.0,488154.0,0.372534
13,13,Mecklenburg-Vorpommern,1343521.0,495566.0,0.368856
14,14,Sachsen,898375.0,430971.0,0.479723
15,15,Sachsen-Anhalt,1162702.0,402474.0,0.346154
16,16,Thüringen,774830.0,307783.0,0.397226

In [25]:
dl_tiere = blagr_df.loc[0]
blagr_tiere = blagr_df[blagr_df['AGS']>0].copy()

blagr_tiere.sort_values('Tiere_pro_Flaeche',inplace=True)
blagr_tiere.reset_index(drop=True,inplace=True)
blagr_tiere

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche
0,15,Sachsen-Anhalt,1162702.0,402474.0,0.346154
1,13,Mecklenburg-Vorpommern,1343521.0,495566.0,0.368856
2,12,Brandenburg,1310361.0,488154.0,0.372534
3,16,Thüringen,774830.0,307783.0,0.397226
4,7,Rheinland-Pfalz,698763.0,306501.0,0.438634
5,14,Sachsen,898375.0,430971.0,0.479723
6,2,Hamburg,14563.0,7074.0,0.485752
7,10,Saarland,74024.0,36861.0,0.497960
8,11,Berlin,1864.0,946.0,0.507511
9,6,Hessen,764705.0,411548.0,0.538179
10,8,Baden-Württemberg,1408063.0,942605.0,0.669434
11,9,Bayern,3107697.0,2608043.0,0.839220
12,4,Bremen,7923.0,7587.0,0.957592
13,1,Schleswig-Holstein,982753.0,941807.0,0.958335
14,3,Niedersachsen,2571337.0,2930734.0,1.139770
15,5,Nordrhein-Westfalen,1473157.0,1725424.0,1.171242

In [26]:
blagr_tiere['rank'] = blagr_tiere['Tiere_pro_Flaeche'].rank(na_option = 'keep')
blagr_tiere['third'] = pd.cut(blagr_tiere['rank'], bl_bins, labels=bl_names,include_lowest=True)
blagr_tiere['Bundesland'] = blagr_tiere['Name']
blagr_tiere

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche,rank,third,Bundesland
0,15,Sachsen-Anhalt,1162702.0,402474.0,0.346154,1.0,besten Drittel,Sachsen-Anhalt
1,13,Mecklenburg-Vorpommern,1343521.0,495566.0,0.368856,2.0,besten Drittel,Mecklenburg-Vorpommern
2,12,Brandenburg,1310361.0,488154.0,0.372534,3.0,besten Drittel,Brandenburg
3,16,Thüringen,774830.0,307783.0,0.397226,4.0,besten Drittel,Thüringen
4,7,Rheinland-Pfalz,698763.0,306501.0,0.438634,5.0,besten Drittel,Rheinland-Pfalz
5,14,Sachsen,898375.0,430971.0,0.479723,6.0,mittleren Drittel,Sachsen
6,2,Hamburg,14563.0,7074.0,0.485752,7.0,mittleren Drittel,Hamburg
7,10,Saarland,74024.0,36861.0,0.497960,8.0,mittleren Drittel,Saarland
8,11,Berlin,1864.0,946.0,0.507511,9.0,mittleren Drittel,Berlin
9,6,Hessen,764705.0,411548.0,0.538179,10.0,mittleren Drittel,Hessen
10,8,Baden-Württemberg,1408063.0,942605.0,0.669434,11.0,mittleren Drittel,Baden-Württemberg
11,9,Bayern,3107697.0,2608043.0,0.839220,12.0,schlechtesten Drittel,Bayern
12,4,Bremen,7923.0,7587.0,0.957592,13.0,schlechtesten Drittel,Bremen
13,1,Schleswig-Holstein,982753.0,941807.0,0.958335,14.0,schlechtesten Drittel,Schleswig-Holstein
14,3,Niedersachsen,2571337.0,2930734.0,1.139770,15.0,schlechtesten Drittel,Niedersachsen
15,5,Nordrhein-Westfalen,1473157.0,1725424.0,1.171242,16.0,schlechtesten Drittel,Nordrhein-Westfalen

In [27]:
dl_tiere['rank'] = 0
dl_tiere['third'] = ""
dl_tiere['Bundesland']="Deutschland"
dl_tiere

/home/lalon/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/home/lalon/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1724: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer_missing(indexer, value)

AGS                                 0
Name                      Deutschland
Landwirtschaft_Flaeche     16595024.0
Tierzahl_GV                12016049.0
Tiere_pro_Flaeche            0.724075
rank                                0
third
Bundesland                Deutschland
Name: 0, dtype: object

In [28]:
blagr_tiere=blagr_tiere.append(dl_tiere)
blagr_tiere

,AGS,Name,Landwirtschaft_Flaeche,Tierzahl_GV,Tiere_pro_Flaeche,rank,third,Bundesland
0,15,Sachsen-Anhalt,1162702.0,402474.0,0.346154,1.0,besten Drittel,Sachsen-Anhalt
1,13,Mecklenburg-Vorpommern,1343521.0,495566.0,0.368856,2.0,besten Drittel,Mecklenburg-Vorpommern
2,12,Brandenburg,1310361.0,488154.0,0.372534,3.0,besten Drittel,Brandenburg
3,16,Thüringen,774830.0,307783.0,0.397226,4.0,besten Drittel,Thüringen
4,7,Rheinland-Pfalz,698763.0,306501.0,0.438634,5.0,besten Drittel,Rheinland-Pfalz
5,14,Sachsen,898375.0,430971.0,0.479723,6.0,mittleren Drittel,Sachsen
6,2,Hamburg,14563.0,7074.0,0.485752,7.0,mittleren Drittel,Hamburg
7,10,Saarland,74024.0,36861.0,0.497960,8.0,mittleren Drittel,Saarland
8,11,Berlin,1864.0,946.0,0.507511,9.0,mittleren Drittel,Berlin
9,6,Hessen,764705.0,411548.0,0.538179,10.0,mittleren Drittel,Hessen
10,8,Baden-Württemberg,1408063.0,942605.0,0.669434,11.0,mittleren Drittel,Baden-Württemberg
11,9,Bayern,3107697.0,2608043.0,0.839220,12.0,schlechtesten Drittel,Bayern
12,4,Bremen,7923.0,7587.0,0.957592,13.0,schlechtesten Drittel,Bremen
13,1,Schleswig-Holstein,982753.0,941807.0,0.958335,14.0,schlechtesten Drittel,Schleswig-Holstein
14,3,Niedersachsen,2571337.0,2930734.0,1.139770,15.0,schlechtesten Drittel,Niedersachsen
15,5,Nordrhein-Westfalen,1473157.0,1725424.0,1.171242,16.0,schlechtesten Drittel,Nordrhein-Westfalen
0,0,Deutschland,16595024.0,12016049.0,0.724075,0.0,,Deutschland

In [29]:
blagr_final = blagr_tiere[['AGS','Name','Bundesland','Landwirtschaft_Flaeche','Tierzahl_GV','Tiere_pro_Flaeche','rank','third']].copy()
blagr_final.columns=['AGS','Name','Bundesland','Landwirtschaft_Flaeche','Tierzahl_GV','GV_pro_Flaeche','agriculture_rank','agriculture_third']
blagr_final

,AGS,Name,Bundesland,Landwirtschaft_Flaeche,Tierzahl_GV,GV_pro_Flaeche,agriculture_rank,agriculture_third
0,15,Sachsen-Anhalt,Sachsen-Anhalt,1162702.0,402474.0,0.346154,1.0,besten Drittel
1,13,Mecklenburg-Vorpommern,Mecklenburg-Vorpommern,1343521.0,495566.0,0.368856,2.0,besten Drittel
2,12,Brandenburg,Brandenburg,1310361.0,488154.0,0.372534,3.0,besten Drittel
3,16,Thüringen,Thüringen,774830.0,307783.0,0.397226,4.0,besten Drittel
4,7,Rheinland-Pfalz,Rheinland-Pfalz,698763.0,306501.0,0.438634,5.0,besten Drittel
5,14,Sachsen,Sachsen,898375.0,430971.0,0.479723,6.0,mittleren Drittel
6,2,Hamburg,Hamburg,14563.0,7074.0,0.485752,7.0,mittleren Drittel
7,10,Saarland,Saarland,74024.0,36861.0,0.497960,8.0,mittleren Drittel
8,11,Berlin,Berlin,1864.0,946.0,0.507511,9.0,mittleren Drittel
9,6,Hessen,Hessen,764705.0,411548.0,0.538179,10.0,mittleren Drittel
10,8,Baden-Württemberg,Baden-Württemberg,1408063.0,942605.0,0.669434,11.0,mittleren Drittel
11,9,Bayern,Bayern,3107697.0,2608043.0,0.839220,12.0,schlechtesten Drittel
12,4,Bremen,Bremen,7923.0,7587.0,0.957592,13.0,schlechtesten Drittel
13,1,Schleswig-Holstein,Schleswig-Holstein,982753.0,941807.0,0.958335,14.0,schlechtesten Drittel
14,3,Niedersachsen,Niedersachsen,2571337.0,2930734.0,1.139770,15.0,schlechtesten Drittel
15,5,Nordrhein-Westfalen,Nordrhein-Westfalen,1473157.0,1725424.0,1.171242,16.0,schlechtesten Drittel
0,0,Deutschland,Deutschland,16595024.0,12016049.0,0.724075,0.0,

## 3. Merge both datasets and sort by AGS

In [30]:
complete_df = pd.concat([blagr_final,agr_final], ignore_index=True).copy()
final_df = complete_df.sort_values('AGS').reset_index(drop=True)
final_df

,AGS,Name,Bundesland,Landwirtschaft_Flaeche,Tierzahl_GV,GV_pro_Flaeche,agriculture_rank,agriculture_third
0,0,Deutschland,Deutschland,16595024.0,12016049.0,0.724075,0.0,
1,1,Schleswig-Holstein,Schleswig-Holstein,982753.0,941807.0,0.958335,14.0,schlechtesten Drittel
2,2,Hamburg,Hamburg,14563.0,7074.0,0.485752,7.0,mittleren Drittel
3,3,Niedersachsen,Niedersachsen,2571337.0,2930734.0,1.139770,15.0,schlechtesten Drittel
4,4,Bremen,Bremen,7923.0,7587.0,0.957592,13.0,schlechtesten Drittel
...,...,...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,Thüringen,33442.0,18751.0,0.560702,207.0,mittleren Drittel
412,16074,Saale-Holzland-Kreis,Thüringen,39254.0,22814.0,0.581189,219.0,mittleren Drittel
413,16075,Saale-Orla-Kreis,Thüringen,50401.0,30719.0,0.609492,228.0,mittleren Drittel
414,16076,Greiz,Thüringen,45767.0,28699.0,0.627068,232.0,mittleren Drittel
415,16077,Altenburger Land,Thüringen,36401.0,12267.0,0.336996,94.0,besten Drittel

## 4. Load Bundesland level data and merge

In [31]:
#load dataset from local file
blag_df = pd.read_csv("data/final_data_bundesland_agriculture_animalcount.csv")
blag_df

,AGS,Name,agriculture_animalcount_bydensity_Insgesamt_2010,agriculture_animalcount_bydensity_Insgesamt_2016,agriculture_animalcount_bydensity_Insgesamt_2020,agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2010,agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2016,agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020,agriculture_animalcount_bydensity_davon_Ökolandbau_2010,agriculture_animalcount_bydensity_davon_Ökolandbau_2016,...,agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2010,agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2016,agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2020,agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2010,agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2016,agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2020,agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2010,agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2016,agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2020,Unit
0,0,Deutschland,12988177.0,12954359.0,12016049.0,9157237.0,8093430.0,7720907.0,NaN,634884.0,...,1683960.0,1776998.0,1523125.0,1370766.0,1756516.0,1482346.0,400277.0,1327230.0,1289670.0,GV pro Ha
1,1,Schleswig-Holstein,1068516.0,1015024.0,941807.0,688116.0,606934.0,608302.0,NaN,22753.0,...,234133.0,228472.0,193940.0,121554.0,143179.0,102573.0,19113.0,36438.0,36993.0,GV pro Ha
2,2,Hamburg,7524.0,7302.0,7074.0,6536.0,6244.0,NaN,NaN,401.0,...,607.0,598.0,486.0,242.0,NaN,NaN,140.0,NaN,159.0,GV pro Ha
3,3,Niedersachsen,2892963.0,3170580.0,2930734.0,1567969.0,1326308.0,1355083.0,NaN,47420.0,...,524723.0,577292.0,493104.0,534096.0,743434.0,635493.0,184454.0,523545.0,447054.0,GV pro Ha
4,4,Bremen,8831.0,8566.0,7587.0,7493.0,6588.0,6233.0,NaN,1100.0,...,NaN,1389.0,NaN,NaN,588.0,627.0,NaN,NaN,NaN,GV pro Ha
5,5,Nordrhein-Westfalen,1765571.0,1835480.0,1725424.0,943727.0,845103.0,845263.0,NaN,43789.0,...,324478.0,311590.0,253207.0,403390.0,401459.0,335257.0,62718.0,277142.0,291697.0,GV pro Ha
6,6,Hessen,469750.0,440880.0,411548.0,434401.0,389546.0,364903.0,NaN,51746.0,...,19596.0,24416.0,22479.0,11958.0,21057.0,17667.0,2151.0,5860.0,6499.0,GV pro Ha
7,7,Rheinland-Pfalz,336371.0,306501.0,278470.0,311886.0,271228.0,251019.0,NaN,25824.0,...,11236.0,16214.0,12940.0,6469.0,11487.0,8801.0,1608.0,7570.0,5711.0,GV pro Ha
8,8,Baden-Württemberg,1053620.0,1002741.0,942605.0,903934.0,799433.0,754313.0,NaN,80736.0,...,96479.0,104204.0,99622.0,44632.0,69124.0,59089.0,3961.0,29980.0,29581.0,GV pro Ha
9,9,Bayern,2972338.0,2818180.0,2608043.0,2331593.0,2012972.0,1894039.0,NaN,187855.0,...,418505.0,454691.0,399565.0,187185.0,274476.0,236340.0,15944.0,76041.0,78098.0,GV pro Ha
10,10,Saarland,45514.0,42566.0,36861.0,43342.0,40346.0,35185.0,NaN,6618.0,...,915.0,NaN,NaN,694.0,600.0,1195.0,173.0,NaN,NaN,GV pro Ha
11,11,Berlin,975.0,1001.0,946.0,702.0,711.0,NaN,NaN,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GV pro Ha
12,12,Brandenburg,562219.0,535512.0,488154.0,477842.0,438729.0,395061.0,NaN,50035.0,...,8400.0,16671.0,12375.0,12027.0,11716.0,10646.0,10363.0,68397.0,70071.0,GV pro Ha
13,13,Mecklenburg-Vorpommern,540888.0,537856.0,495566.0,434246.0,410263.0,373946.0,NaN,69717.0,...,15241.0,21449.0,6906.0,17578.0,32705.0,40414.0,31870.0,73439.0,74300.0,GV pro Ha
14,14,Sachsen,485902.0,462920.0,430971.0,401501.0,387201.0,352429.0,NaN,16539.0,...,7786.0,7715.0,9361.0,6424.0,7647.0,5948.0,19903.0,60357.0,63232.0,GV pro Ha
15,15,Sachsen-Anhalt,413672.0,424301.0,402474.0,298836.0,273871.0,235933.0,NaN,14946.0,...,15786.0,5914.0,15651.0,20461.0,30214.0,20806.0,33266.0,114302.0,130084.0,GV pro Ha
16,16,Thüringen,363520.0,344949.0,307783.0,305113.0,277950.0,242379.0,NaN,15297.0,...,4970.0,4792.0,2451.0,3627.0,8399.0,7154.0,14537.0,53809.0,55798.0,GV pro Ha

In [32]:
blag_df.columns

Index(['AGS', 'Name', 'agriculture_animalcount_bydensity_Insgesamt_2010',
       'agriculture_animalcount_bydensity_Insgesamt_2016',
       'agriculture_animalcount_bydensity_Insgesamt_2020',
       'agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2010',
       'agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2016',
       'agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020',
       'agriculture_animalcount_bydensity_davon_Ökolandbau_2010',
       'agriculture_animalcount_bydensity_davon_Ökolandbau_2016',
       'agriculture_animalcount_bydensity_davon_Ökolandbau_2020',
       'agriculture_animalcount_bydensity_Unter_1_0_GV_ha_2010',
       'agriculture_animalcount_bydensity_Unter_1_0_GV_ha_2016',
       'agriculture_animalcount_bydensity_Unter_1_0_GV_ha_2020',
       'agriculture_animalcount_bydensity_1_0-1_5_GV_ha_2010',
       'agriculture_animalcount_bydensity_1_0-1_5_GV_ha_2016',
       'agriculture_animalcount_bydensity_1_0-1_5_GV_ha_2020',
       'agriculture_animalcount_bydensity_1_5-2_0_GV_ha_2010',
       'agriculture_animalcount_bydensity_1_5-2_0_GV_ha_2016',
       'agriculture_animalcount_bydensity_1_5-2_0_GV_ha_2020',
       'agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2010',
       'agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2016',
       'agriculture_animalcount_bydensity_2_0-2_5_GV_ha_2020',
       'agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2010',
       'agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2016',
       'agriculture_animalcount_bydensity_2_5-5_0_GV_ha_2020',
       'agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2010',
       'agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2016',
       'agriculture_animalcount_bydensity_5_0_und_mehr_GV_ha_2020', 'Unit'],
      dtype='object')

In [33]:
blag_short = blag_df[['Name','agriculture_animalcount_bydensity_Insgesamt_2020','agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020','agriculture_animalcount_bydensity_davon_Ökolandbau_2020']].copy()
blag_short

,Name,agriculture_animalcount_bydensity_Insgesamt_2020,agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020,agriculture_animalcount_bydensity_davon_Ökolandbau_2020
0,Deutschland,12016049.0,7720907.0,779815.0
1,Schleswig-Holstein,941807.0,608302.0,37980.0
2,Hamburg,7074.0,NaN,405.0
3,Niedersachsen,2930734.0,1355083.0,61077.0
4,Bremen,7587.0,6233.0,1114.0
5,Nordrhein-Westfalen,1725424.0,845263.0,57160.0
6,Hessen,411548.0,364903.0,63006.0
7,Rheinland-Pfalz,278470.0,251019.0,30825.0
8,Baden-Württemberg,942605.0,754313.0,95793.0
9,Bayern,2608043.0,1894039.0,239869.0
10,Saarland,36861.0,35185.0,6458.0
11,Berlin,946.0,NaN,122.0
12,Brandenburg,488154.0,395061.0,54887.0
13,Mecklenburg-Vorpommern,495566.0,373946.0,69682.0
14,Sachsen,430971.0,352429.0,23450.0
15,Sachsen-Anhalt,402474.0,235933.0,20727.0
16,Thüringen,307783.0,242379.0,17259.0

In [34]:
blag_short['Anteil_unter_2GV_pro_Hektar'] = blag_short['agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020']/blag_short['agriculture_animalcount_bydensity_Insgesamt_2020']*100
blag_short['Anteil_oekolandbau'] = blag_short['agriculture_animalcount_bydensity_davon_Ökolandbau_2020']/blag_short['agriculture_animalcount_bydensity_Insgesamt_2020']*100
blag_short.drop(columns=['agriculture_animalcount_bydensity_Insgesamt_2020','agriculture_animalcount_bydensity_davon_auf_unter_2_0_GV_ha_2020','agriculture_animalcount_bydensity_davon_Ökolandbau_2020'],inplace=True)
blag_short.columns = ['Bundesland','Anteil_unter_2GV_pro_Hektar','Anteil_oekolandbau']
blag_short

                Bundesland  Anteil_unter_2GV_pro_Hektar  Anteil_oekolandbau
0              Deutschland                    64.254956            6.489779
1       Schleswig-Holstein                    64.588817            4.032673
2                  Hamburg                          NaN            5.725191
3            Niedersachsen                    46.236984            2.084017
4                   Bremen                    82.153684           14.683010
5      Nordrhein-Westfalen                    48.988712            3.312809
6                   Hessen                    88.665964           15.309514
7          Rheinland-Pfalz                    90.142206           11.069415
8        Baden-Württemberg                    80.024294           10.162581
9                   Bayern                    72.622997            9.197279
10                Saarland                    95.453189           17.519872
11                  Berlin                          NaN           12.896406
12             Brandenburg                    80.929584           11.243788
13  Mecklenburg-Vorpommern                    75.458365           14.061094
14                 Sachsen                    81.775572            5.441201
15          Sachsen-Anhalt                    58.620681            5.149898
16               Thüringen                    78.749963            5.607522

In [35]:
final_merged = final_df.merge(blag_short,on="Bundesland",how="left")
final_merged

,AGS,Name,Bundesland,Landwirtschaft_Flaeche,Tierzahl_GV,GV_pro_Flaeche,agriculture_rank,agriculture_third,Anteil_unter_2GV_pro_Hektar,Anteil_oekolandbau
0,0,Deutschland,Deutschland,16595024.0,12016049.0,0.724075,0.0,,64.254956,6.489779
1,1,Schleswig-Holstein,Schleswig-Holstein,982753.0,941807.0,0.958335,14.0,schlechtesten Drittel,64.588817,4.032673
2,2,Hamburg,Hamburg,14563.0,7074.0,0.485752,7.0,mittleren Drittel,NaN,5.725191
3,3,Niedersachsen,Niedersachsen,2571337.0,2930734.0,1.139770,15.0,schlechtesten Drittel,46.236984,2.084017
4,4,Bremen,Bremen,7923.0,7587.0,0.957592,13.0,schlechtesten Drittel,82.153684,14.683010
...,...,...,...,...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,Thüringen,33442.0,18751.0,0.560702,207.0,mittleren Drittel,78.749963,5.607522
412,16074,Saale-Holzland-Kreis,Thüringen,39254.0,22814.0,0.581189,219.0,mittleren Drittel,78.749963,5.607522
413,16075,Saale-Orla-Kreis,Thüringen,50401.0,30719.0,0.609492,228.0,mittleren Drittel,78.749963,5.607522
414,16076,Greiz,Thüringen,45767.0,28699.0,0.627068,232.0,mittleren Drittel,78.749963,5.607522
415,16077,Altenburger Land,Thüringen,36401.0,12267.0,0.336996,94.0,besten Drittel,78.749963,5.607522

In [36]:
#save dataframe to file
final_merged.to_csv("data/final_postcard_data_agriculture.csv")

In [37]:
final_merged['postcard_s1'] = final_merged.agg(lambda x: f"In {x['Name']} gibt es {'{:,}'.format(round(x['Tierzahl_GV'])).replace(',', '.')} Großvieheinheiten. Eine Großvieheinheit entspricht etwa einer Kuh. Bezogen auf die landwirtschaftlich genutzte Fläche liegt der Landkreis damit im Vergleich im {x['agriculture_third']}." if np.isnan(x['GV_pro_Flaeche']) == False else "Für diesen Kreis ist die Zahl der Tiere unbekannt oder geheim.",axis=1) 
final_merged['postcard_s1'][234]

'In Biberach gibt es 80.739 Großvieheinheiten. Eine Großvieheinheit entspricht etwa einer Kuh. Bezogen auf die landwirtschaftlich genutzte Fläche liegt der Landkreis damit im Vergleich im schlechtesten Drittel.'

In [38]:
final_merged['postcard_s2'] = final_merged.agg(lambda x: f"Im Bundesland {x['Bundesland']} wurden {round(x['Anteil_unter_2GV_pro_Hektar'])} Prozent der Tiere innerhalb der ökologischen Grenze von 2 Großvieheinheiten pro Hektar Land gehalten, {round(x['Anteil_oekolandbau'])} davon auf Biobauernhöfen." if pd.isna(x['Anteil_unter_2GV_pro_Hektar']) is False else "" ,axis=1) 
final_merged['postcard_s2'][412]

'Im Bundesland Thüringen wurden 79 Prozent der Tiere innerhalb der ökologischen Grenze von 2 Großvieheinheiten pro Hektar Land gehalten, 6 davon auf Biobauernhöfen.'

In [39]:
final_merged[final_merged['Name']=='Bremerhaven']['postcard_s1']

78    Für diesen Kreis ist die Zahl der Tiere unbeka...
Name: postcard_s1, dtype: object